@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato:wght@400;700&family=Satisfy&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

header > h1 > span {
    display: inline-block;
    animation: fleur 5s ease-in-out infinite 1.5s;
}

@keyframes fleur {
    0% {
        transform: rotate(0deg);
    }
    5% {
        transform: rotate(15deg);
    }
    10% {
        transform: rotate(-15deg);
    }
    15% {
        transform: rotate(15deg);
    }
    20% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
#contact {
    width: fit-content;
}

#contact > a {
    margin-left: 1rem;
}

#contact > a:hover svg path{
    fill: #F04C91;
}

h1 {
    font-family: Satisfy;
    font-weight: normal;
}

#presentation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#terminal {
    background-color: #444444;
    border-radius: 1rem;
    min-height: 10rem;
    width: 50%;

}

#terminal > pre {
padding: 2rem;
text-wrap: wrap;
color: #FF81B6;
font-family: Inconsolata;
}

@media (max-width : 800px) {
    #image {
        display: none;
    }

    #presentation {
        justify-content: center;
    }

    #terminal {
        width: 80%;
    }

}

#topbar {
    background-color: #D9D9D9;
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
}

#btnRouge {
    background-color: red;
    border-radius: 5rem;
    width: 0.7rem;
    height: 0.7rem;
    margin-left: 1rem;
}

#btnJaune {
    background-color: #F8D001;
    border-radius: 5rem;
    width: 0.7rem;
    height: 0.7rem;
    margin-left: 0.5rem;
}

#btnVert {
    background-color: #6CC95D;
    border-radius: 5rem;
    width: 0.7rem;
    height: 0.7rem;
    margin-left: 0.5rem;
}

#project-btn {
    font-family: Satisfy;
    font-size: 1.5rem;
    color: #F04C91;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10rem;
}


/*project*/

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects > h2 {
    font-family: Satisfy;
    font-weight: 400;
    font-size: 2rem;
}

#slideshow {
    width: 65%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    border-radius: 2rem;
}

.slide > h3 {
    font-family: Satisfy;
    text-align: center;
    font-size: 1.5rem;
}

#slide-text {
    width: auto;
    background-color: #D9D9D9;
    border-radius: 2rem;
    margin-top: 1rem;
    text-align: center;
    padding: 2rem;
    font-family: Lato;
}

#prevBtn, #nextBtn {
    cursor: pointer;
}

#prevBtn {
    margin-right: 2rem;
}

#nextBtn {
    margin-left: 2rem;
}

@media (max-width : 800px) {

   #slide-text {
    font-size: 0.5rem;
    padding: 1rem;
   }

   #prevBtn svg{
    height: 2rem;
    }

    #nextBtn svg{
        height: 2rem;
    }

}